/* Hannah Murray ; Percolate */

header {
	background-color: hsl(0, 100%, 100%);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	position: relative;
	height: 110px;
	margin-bottom: 4%;
}

.wrapper {
	box-sizing: border-box;
	padding-top: 3%;
	width: 1060px;
	margin: 0 auto;
}

.wrapper a {
	text-decoration: none;
	color: hsl(212, 54%, 37%);
	-webkit-transition: all 0.25s ease-in-out;
	   -moz-transition: all 0.25s ease-in-out;
		 -o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
}

.wrapper a:hover {
	color: hsl(19, 88%, 54%);
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.logo {
	float: left;
}

.left {
	float: left;
	font-family: "Sentinel A", "Sentinel B", Georgia;
	font-size: 18px;
}

.left a {
	padding-left: 20px;
}

.left a:first-child {
	padding-left: 0;
}

.right {
	float: right;
	width: 32.5%;
}

.right a {
	padding-right: 25px;
}

.right a:last-child {
	padding: 2% 3% 2% 3%;
	border: 1px solid hsl(212, 54%, 37%);
	text-transform: uppercase;
	font-family: "Futura W01 Bold",Arial,sans-serif;
}

.right a:last-child:hover {
	border: 1px solid hsl(19, 88%, 54%);
}

ul, li {
	list-style: none;
	display: inline;
}

.hero {
	background-image: url(../img/slideshow_city.jpg);
	position: absolute;
	width: 100%;
}

.hero-overlay {
	background-color: hsla(19, 88%, 54%, 0.8);
	position: relative;
	height: 355px;
	width: 1060px;
	margin: 0 auto;
	top: -40px;
}

.hero-container {
	padding: 40px;
}